name: Pixoo REST
version: "2.0.15"
slug: pixoo-rest
description: |
  RESTful API for Divoom Pixoo and Time Gate displays with automatic discovery and Home Assistant integration.
  Example (configuration.yaml) for brightness:
    rest_command:
      pixoo_brightness:
        url: "http://{{ host }}:5000/device/brightness?device={{ device }}"
        method: POST
        headers:
          Content-Type: application/json
        payload: >
          {{ { "brightness": brightness } | tojson }}
  Example (Developer Tools -> Services) for brightness:
    service: rest_command.pixoo_brightness
    data:
      host: 192.168.178.165
      device: office
      brightness: 35
  Example (configuration.yaml) to send a GIF:
    rest_command:
      pixoo_gif:
        url: "http://{{ host }}:5000/device/image/url?device={{ device }}"
        method: POST
        headers:
          Content-Type: application/json
        payload: >
          {{ { "url": url } | tojson }}
  Example (Developer Tools -> Services) to send a GIF:
    service: rest_command.pixoo_gif
    data:
      host: 192.168.178.165
      device: office
      url: "https://example.com/animation.gif"
  Example (Developer Tools -> Services) to send text:
    service: rest_command.pixoo_text
    data:
      host: 192.168.178.165
      device: office
      text: "Hello from Home Assistant"
      position: 0
      color: "#00FF00"
      font: 3
url: https://github.com/PixelShober/Pixoo-REST/tree/main/pixoo-rest
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
startup: services
boot: auto
stage: stable
homeassistant: "2024.1.0"
watchdog: tcp://[HOST]:5000
ports:
  5000/tcp: 5000
ports_description:
  5000/tcp: "RESTful API endpoint (Swagger UI at /docs#/, accessible externally)"
webui: "http://[HOST]:[PORT:5000]/docs#/"
ingress: false
homeassistant_api: false
hassio_api: false
host_network: false
apparmor: true

# Configuration options
options:
  PIXOO_DEVICES: []
  PIXOO_HOST_AUTO: true
  PIXOO_HOST: ""
  PIXOO_DEVICE_TYPE: auto
  PIXOO_DEBUG: false
  PIXOO_SCREEN_SIZE: 64
  PIXOO_CONNECTION_RETRIES: 10
  PIXOO_REST_DEBUG: false

schema:
  PIXOO_DEVICES:
    - name: str
      host_auto: bool?
      host: str?
      device_type: list(auto|pixoo|time_gate)?
      screen_size: list(16|32|64|128)?
      debug: bool?
      connection_retries: int(1,30)?
  PIXOO_HOST_AUTO: bool
  PIXOO_HOST: str?
  PIXOO_DEVICE_TYPE: list(auto|pixoo|time_gate)
  PIXOO_DEBUG: bool
  PIXOO_SCREEN_SIZE: list(16|32|64|128)
  PIXOO_CONNECTION_RETRIES: int(1,30)
  PIXOO_REST_DEBUG: bool

# Backup configuration
backup: hot
